<div class="panel panel-default">
  <div class="panel-heading"> 
    <h3 class="panel-title">
    <a class="btn btn-default btn-xs" href="#/{{item.sections[0].slug}}">
        {{item.sections[0].title}}
    </a> 
    <a class="btn btn-default btn-xs" href="#/{{item.sections[0].slug}}/{{item.topics[0].slug}}">
        {{item.topics[0].title}}
    </a> 
    <a ng-if="item.storyline[0]" class="btn btn-default btn-xs" href="#/storyline/{{item.storyline[0].slug}}">
        {{item.storyline[0].title}}
    </a> 
   </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <a href="#/article/{{item.externalId}}">
         <img class="media-object img-responsive" adaptive-image="item.main_art.url"/>
        </a>
      </div>
      <div class="col-md-8">
        <a href="#/article/{{item.externalId}}">
          <div class="well well-sm"> 
            <span style="text-transform:capitalize;">{{item.type}}</span>
            <span ng-if=" item.type=='externallink' "> from {{item.body[1].html}}</span>
            <span ng-show="item.bylines[0]"> by {{item.bylines[0].name}} </span> / 
            <span am-time-ago="item.first_published_utc"></span> 
          </div>  
          <h3> {{item.headline}} </h3>
        </a>
         <p>{{item.summary}}</p>
         <span class="first-paragraph" ng-bind-html="item.body[0].html"></span>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="btn-group">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-star"></span>
      </button>
      <button type="button" class="btn btn-default">
         <span class="glyphicon glyphicon-share"></span>
      </button>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-comment"></span>
      </button>
   </div>
  </div>
 </div>