<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">The News</h3>
</div>

<div ng-repeat="item in articles">
 <div class="panel panel-default">
  <div class="panel-heading"> 
    <h3 class="panel-title">
    <a class="btn btn-default btn-xs" href="#/{{item.sections[0].slug}}">
        {{item.sections[0].title}}
    </a> 
    <a class="btn btn-default btn-xs" href="#/{{item.sections[0].slug}}/{{item.topics[0].slug}}">
        {{item.topics[0].title}}
    </a> 
    <a class="btn btn-default btn-xs" href="#/storyline/{{item.storyline[0].slug}}">
        {{item.storyline[0].title}}
    </a> 
    <div class="btn btn-default btn-xs">{{item.bylines[0].name}}</div> 
    <div class="badge pull-right">
      <span am-time-ago="item.first_published_utc"></span>
    </div> 
   </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <a href="#/article/{{item.externalId}}">
         <img class="media-object img-responsive" adaptive-image="item.main_art.url"/>
        </a>
      </div>
      <div class="col-md-8">
        <a href="#/article/{{item.externalId}}">
          <h3>
            {{item.headline}}
          </h3>
        </a>
          <p>{{item.summary}}</p>
         <p>{{item.body[0].html}}</p>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="btn btn-default">{{item.type}}</div>
    <div class="btn-group">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-star"></span>
      </button>
      <button type="button" class="btn btn-default">
         <span class="glyphicon glyphicon-share"></span>
      </button>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-comment"></span>
      </button>
   </div>
  </div>
</div>

</div>


<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> </p>
</div>
